{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>Collaborate with me</h3>
            <hr>
            <p>Got a great idea for a collaboration? I'd love to hear from you!</p>
            
            <form method="post" style="margin-top: 1.3em;">
                {{ collaboration_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-signup btn-lg">Send</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}